[submodule "thirdparty/pico-sdk"]
        path = thirdparty/pico-sdk
        url = https://github.com/raspberrypi/pico-sdk
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/ssd1306"]
	path = thirdparty/ssd1306
	url = https://github.com/EinarArnason/ssd1306.git
